{% assign about = site.data.data.about %}
<section class="mt-8 first:mt-0">
    <!-- To keep in the same column -->
    <div class="break-inside-avoid">
        <h2 class="mb-4 font-bold tracking-widest text-sm2 text-slate-500 print:font-normal">
            ABOUT ME
        </h2>
        <section class="mb-4.5 break-inside-avoid">
            <header>
                <h3 class="text-lg font-semibold text-slate-700 leading-snugish">
                    User Interface Designer
                </h3>
                <p class="leading-normal text-md text-slate-650">
                    Since 2010
                </p>
            </header>
            <p class="mt-2.1 text-md text-slate-700 leading-normal">
                Minimal and formal résumé website template for print, mo­bile, and desktop. The proportions are
                the same on the screen and paper. Built with amazing <a class="hover:bg-slate-150 rounded-lg transition ease-in duration-100" href="https://tailwindcss.com/">Tailwind CSS&nbsp;°</a>.
            </p>
        </section>
    </div>
    <section class="mb-4.5 break-inside-avoid">
        <header>
            <h3 class="text-lg font-semibold text-slate-700 leading-snugish">
                Front-End Developer
            </h3>
            <p class="leading-normal text-md text-slate-650">
                Since 2013
            </p>
        </header>
        <p class="mt-2.1 text-md text-slate-700 leading-normal">
            “docs/index.html” is the main content file. By copying HTML: add pages, sec­tions, subsection, and
            other parts.
        </p>
        <p class="mt-2.1 text-md text-slate-700 leading-normal">
            <span class="font-medium text-slate-600 print:text-black">Important:</span> Too much content on one page
            will break the page in the form of additional columns.
        </p>
    </section>
</section>