{% assign contact = site.data.data.contact %}
<section class="mb-4.5 break-inside-avoid">
    <ul class="list-inside pr-7 text-slate-700 dark:text-slate-500">
        <li class="mt-1.5 leading-normal text-md">
            <a href="//{{contact.site}}" class="group hover:underline">
                {{contact.site}}
                <span class="inline-block text-slate-500 print:text-black font-normal group-hover:text-slate-700 transition duration-100 ease-in">↗</span>
            </a>
        </li>
        <li class="mt-1.5 leading-normal text-md print:hidden">
            <div x-data="{ 'showModal': false }">
                <a href="#" @click="showModal = !showModal" class="group">
                    Formulário de contato
                    <span class="inline-block text-slate-500 print:text-black font-normal group-hover:text-slate-700 transition duration-100 ease-in">↗</span>
                </a>
                <!-- Modal -->
                {% include contact-modal.html %}
                <!-- Modal -->
            </div>
        </li>
        <li class="mt-1.5 leading-normal text-md">
            <a href="https://wa.me/{{contact.whatsapp}}" class="hover:underline">
                {{contact.phone}}
            </a>
        </li>
    </ul>
</section>