{% if site.data.experiences %}
<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Cursos</h2>

{% for course in site.data.courses %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ course.role }}</h3>
        <div class="time">{{ course.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ course.company }}</div>

    </div><!--//meta-->

    {% if course.details %}
    <div class="details">
      <p>{{ course.details }}</p>
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
{% endfor %}

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title"><a href="https://github.com/jrmessias/certificados"><i class="fa fa-link"></i>&nbsp;Cursos EAD/Curta Duração/Eventos</a></h3>
      </div><!--//upper-row-->
    </div><!--//meta-->
  </div><!--//item-->

</section><!--//section-->
{% endif %}
