<head>
  <!-- Meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favicon -->
  {% include favicon.html %}
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <title>{{site.title}}</title>
  <!-- Styles -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      darkMode: 'class',
      screens: {
        screen: {"raw": "screen"},
        print: {"raw": "print"},
        xsm: "500px",
        sm: "640px",
        md: "811px",
        lg: "1051px",
        xl: "1280px",
      },
      extend:{
        lineHeight: {
          snugish: "1.32",
          normal: "1.34",
        },
      }
    }
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{site.googleanalytics}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{site.googleanalytics}}');
  </script>
</head>
