{% assign volunteering = site.data.data.volunteering %}
{% for volunteer in volunteering %}
<section class="mb-4 break-inside-avoid">
    <header>
        <h3 class="text-lg font-semibold text-slate-600 dark:text-slate-300 leading-snugish">
            {{volunteer.company}}
        </h3>
        <p class="leading-normal text-md text-slate-600 dark:text-slate-400">
            {{volunteer.time}} | {{volunteer.role}}
        </p>
    </header>
    <ul>
        <li class="mt-2.1 text-md text-slate-500 leading-normal text-justify">
            {{volunteer.details}}
        </li>
    </ul>
</section>
{% endfor %}