.skills {
  .title {
    @include sub-header;
  }

  .skills-item {
    margin-bottom: 20px;

    .category {
      @include body-text;
      font-weight: bold;
      text-align: left;
    }

    .skill {
      @include body-text;
    }
  }
}