:root {
    --bg-color: #f1f1f1;
    --bg-color-cv: #ffffff;
    --fg-color: #22c55e;
    --fg-color-dark: #166534;
    --fg-color-body: #5e6369;
    --fg-color-title-sm: #688293;

}

[data-theme='dark'] {
    --bg-color: #28343b;
    --bg-color-cv: #1b262c;
    --fg-color: #5BB66F;
    --fg-color-dark: #15803d;
    --fg-color-body: rgba(187,225,250,0.75);
    --fg-color-title-sm: #688293;
}
